@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --color-bg1: #fffeec;
  --color-bg2: #f2dce4;
  --color-bg3: #4b1b21;

  --font-1: "Bebas Neue", sans-serif;
  --font-2: "Oswald", sans-serif;
  /* 
  h1 {
    font-family: var(--font-1);
    font-size: 45px;
  }
  h2 {
    font-family: var(--font-1);
    font-size: 35px;
  }
  p {
    font-family: var(--font-2);
    font-size: large;
  }

  .ver1_p {
    font-family: var(--font-2);
    font-size: small;
  }
  a {
    font-family: var(--font-1);
    font-size: larger;
  }
  li {
    font-size: larger;
  }

  #requirement {
    font-family: var(--font-2);
  }
  h3 {
    font-family: var(--font-2);
  } */

  p {
    font-family: var(--font-2);
    /* font-size: large; */
  }
  h1 {
    font-family: var(--font-1);
    font-size: 40px;
  }
  h2 {
    font-family: var(--font-2);
    font-size: 30px;
  }
  ul {
    font-family: var(--font-1);
    font-size: 24px;
  }
  .footer_1 p {
    font-family: var(--font-1);
  }
  .footer_1 a {
    color: black;
    font-family: var(--font-2);
  }
  .footer_2 a {
    color: black;
    font-family: var(--font-2);
  }
  .footer_2 p {
    font-family: var(--font-1);
  }
  .insta a {
  }
  .text a {
    color: var(--color-bg3);
  }
}
