*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

label {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: max(1em, 16px);
}

textarea {
  resize: none;
  min-height: 4lh;
}

legend {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}

/* --------------------------------------------------------------------- */

@media (min-width: 800px) {
  /* ------------------- header --------------- */
  .menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }

  .menu a {
    text-decoration: none;
  }

  /* Hidden dropdown */
  .dropDownMenu {
    display: none;
    position: absolute;

    list-style: none;
  }

  /* Show on hover */
  .dropDown:hover .dropDownMenu {
    display: block;
  }

  .dropDownMenu li {
    padding: 3px;
    white-space: nowrap;
  }

  .firstimg img {
  }

  /* ------------- slide --------------- */
  .slideshow-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 30px;
  }

  .dots {
    display: none;
  }

  .mySlides {
    display: block !important;
  }

  /* -----------burger ------------ */
  .burger {
    display: none;
  }

  /*  -------------  footer -------------------  */
  .blogo {
    width: 220px;
    display: block;
  }
}
