*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

label {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: max(1em, 16px);
}

textarea {
  resize: none;
  min-height: 4lh;
}

legend {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}

/* --------------------------------------------------------------------- */

@media (min-width: 800px) {
  p {
    font-family: var(--font-2);

    font-size: 24px !important;
  }

  .ver1_p {
    padding-top: 20px;
    font-family: var(--font-2);
    font-size: 14px !important;
  }
  /* ------------------- header --------------- */
  .menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }

  .menu a {
    text-decoration: none;
  }

  /* Hidden dropdown */
  .dropDownMenu {
    display: none;
    position: absolute;
    background-color: var(--color-bg1);
    list-style: none;
    z-index: 9999;
    width: 200px;
  }

  #dropm {
    background-color: var(--color-bg2);
  }

  /* Show on hover */
  .dropDown:hover .dropDownMenu {
    display: block;
  }

  .dropDownMenu li {
    padding: 3px;
    white-space: nowrap;
  }

  /* ------------- slide --------------- */
  .slideshow-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 30px;
  }

  .dots {
    display: none;
  }

  .mySlides {
    display: block !important;
  }

  /* -----------burger ------------ */
  .burger {
    display: none;
  }

  /*  -------------  footer -------------------  */
  .blogo {
    width: 300px;
    display: block;
  }

  /* ----------------tema 2---------------------------- */
  .ver1 {
    display: grid;
    grid-template-columns: auto auto;

    width: 90%;
    margin-bottom: 100px;
  }

  .ver1_3 {
    width: 500px;
  }

  .ver2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    width: 90%;
  }
  .ver2_1 {
    grid-column: 2/3;
    grid-row: 1;
  }

  .ver2_2_2 {
    margin-bottom: 30px;
    margin-top: -30px;
  }

  button {
    margin-top: 10px;
    margin-left: 65px;
  }

  /* ---------------- about me ------------------- */
  .meimg img {
    border-radius: 100%;
  }

  .meimg {
    gap: 20px;
  }

  .grid_1-1 {
    gap: 300px;
  }

  .red_2_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 50px;
    row-gap: 30px;
  }

  .div_1 {
    grid-column: 1/7;
  }
  .div_2 {
    grid-column: 2/8;
  }
  .div_3 {
    grid-column: 3/9;
  }

  .design_pac {
    width: 50%;
  }
}
