/* ----------slide ------------------- */
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: fit-content;
  position: relative;
  /* margin: auto; */
}

/* Hide the images by default */

.mySlides {
  display: block;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* .active,
.dot:hover {
  background-color: #717171;
} */

.prev,
.next {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.img_curve {
  width: 60%;
  margin: auto;
  border-radius: 40px;
}

.img_curve img {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 1px solid var(--color-bg3);
}

.text {
  border: 1px solid var(--color-bg3);
  background-color: var(--color-bg2);
  color: var(--color-bg3);
  width: 60%;
  padding: 3px;
  padding-inline: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 2px 4px 3px var(--color-bg3);
}

.text:hover {
  scale: 1.1;
}
.text a {
  text-decoration: none;
  list-style: none;
}
