/* ------------- header--------------- */

.logo {
  width: 400px;
  margin: auto;
}
.menu {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: black;
}
.dropDownMenu {
  list-style: none;
}

.blogo {
  display: none;
}
footer {
  display: flex;
  flex-direction: row;

  justify-content: space-around;

  padding-block: 20px;
}

.header_1 {
  background-color: var(--color-bg1);
  padding-bottom: 20px;
}

.footer_1 {
  background-color: var(--color-bg2);
}
.main_1 {
  background-color: var(--color-bg1);
}

/* -------------- first pagee -------------- */
.index_h1 {
  width: fit-content;
  margin: auto;
  padding: 20px;
}

/* ------------------------------ tema 2 ----------------------------------- */
.h1_2 {
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}
.imgver1 {
  width: 80%;
  margin: auto;
}
.imgver1 img {
  border-top-right-radius: 25%;
}

.link,
.link_2 {
  width: 80%;
  /* border: 1px solid black; */
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  background-color: var(--color-bg3);
  padding: 4px;
  position: sticky;
  top: 0;
}

.link:hover {
  scale: 1.05;
}
.link_2:hover {
  scale: 1.1;
}

.link a {
  text-decoration: none;
  color: var(--color-bg1);
}
.link_2 a {
  text-decoration: none;
  color: var(--color-bg1);
}
.link_2 {
  width: fit-content;
  padding: 7px;
  padding-inline: 50px;
  border-radius: 30px;
  box-shadow: 2px 4px 3px var(--color-bg3);
  border: 1px solid var(--color-bg2);
  margin-bottom: 40px;
}

.ver1_3 {
  border: 1px solid var(--color-bg3);
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 2px 4px 3px var(--color-bg3);
  gap: 10px;
  margin-bottom: 60px;
}
.ver1_3 img {
  border-radius: 30px;
}
.ver1_3 p {
  font-size: small;
  /* padding-top: 20px; */
}

.ver2 img {
  width: 80%;
  margin: auto;
}
.ver2_2 h2 {
  margin: auto;
  width: fit-content;
  margin-top: 15px;
  margin-bottom: 5px;
}

.p2 {
  padding-top: 10px;
}

.ver2_2 p {
  margin: auto;
  width: 80%;
}

button {
  margin-top: 10px;
  margin-left: 50px;
  padding: 3px;
  padding-inline: 10px;
  box-shadow: 2px 4px 3px var(--color-bg3);
  border: 1px solid var(--color-bg2);
}
button:hover {
  scale: 1.1;
}

#more {
  display: none;
  margin-top: 15px;
}

.ver2_2 {
  height: auto;
  margin-bottom: 60px;
}
p {
  font-family: var(--font-1);
}

.ver2_2_2 {
  margin: auto;
  width: 80%;
  margin-bottom: 30px;
}

.ver2_2_2 h2 {
  margin: auto;
  width: fit-content;
  margin-top: 15px;
  margin-bottom: 5px;
}

.main_2 {
  background-color: var(--color-bg2);
  padding-block: 30px;
}
.footer_2 {
  background-color: var(--color-bg1);
}

/* ------------------about me----------------------- */
.big_red {
  width: 90%;
  margin: auto;
  background-color: var(--color-bg3);
  margin-bottom: 20px;
  border-radius: 30px;
  position: relative;
  padding-bottom: 20px;
  margin-top: 20px;
}
.red_img {
  margin: auto;
  position: relative;
}
.red_img img {
  padding: 25px;
}

.meimg img {
  border-radius: 100%;
}

.meimg {
  display: flex;
  flex-direction: row;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: fit-content;
  margin: auto;

  /* display: flex;
  justify-content: space-evenly; */
}

.info {
  grid-template-columns: 3/5;
  color: var(--color-bg1);
}
.mail_me a {
  text-decoration: none;
  color: var(--color-bg1);
}

.red_2 {
  background-color: var(--color-bg3);
  color: var(--color-bg1);
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  padding: 30px;
  border-radius: 30px;
}
.red_2 h2 {
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}
.red_2 div {
  margin-bottom: 20px;
}

.pac_h3 {
  width: 80%;
  margin: auto;
  /* font-size: 15px; */
}

.design_pac {
  width: 90%;
  /* background-color: var(--color-bg3); */
  margin: auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 30px;
  margin-bottom: 100px;
  gap: 50px;
}

.design_pack {
  position: relative;
  width: fit-content;
  margin: auto;
}

.design_pack > img:first-child {
  width: 100%;
}

.icon {
  position: absolute;
  width: 50px;
}
.figma {
  top: 32%;
  left: 25%;
}

.ps {
  top: 30%;
  left: 45%;
}

.ai {
  top: 30%;
  left: 65%;
}

.html {
  top: 55%;
  left: 25%;
}

.css {
  top: 55%;
  left: 45%;
}

.js {
  top: 55%;
  left: 65%;
}

.figma {
  transform: rotate(-10deg);
}
.ps {
  transform: rotate(8deg);
}
.ai {
  transform: rotate(-5deg);
}
.html {
  transform: rotate(-10deg);
  margin-right: 20px;
}

.css {
  transform: rotate(8deg);
  margin-right: 20px;
}

.js {
  transform: rotate(-10deg);
  margin: 10px;
}

.icon {
  margin-top: 20%;
  width: 18%;
  margin-right: 50px;
}

.icon:hover {
  scale: 1.1;
}

.info-text {
  padding-top: 20px;
  width: fit-content;
}

.header_2 {
  background-color: var(--color-bg2);
}

/* ------------ burger menu -------------- */

@media screen and (max-width: 800px) {
  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin: auto;
  }

  .burger .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333333;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }

  .burger {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    /* font-size: 24px; */
  }

  /* ------------about me -------------- */
  .info h2,
  p {
    font-size: smaller !important;
  }
  .meimg img {
    width: 90%;
  }

  .grid_1-1 {
    padding-inline: 20px;
  }

  /* ------------------slide ----------------  */
  /* Next & previous buttons */

  .slideshow-container {
    position: relative;
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
}
