/* ------------- header--------------- */

.logo {
  width: 400px;
  margin: auto;
}
.menu {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: black;
}
.dropDownMenu {
  list-style: none;
}

.blogo {
  display: none;
}
footer {
  display: flex;
  flex-direction: row;

  justify-content: space-around;

  padding-block: 20px;
}

.header_1 {
  background-color: var(--color-bg1);
  padding-bottom: 20px;
}

.footer_1 {
  background-color: var(--color-bg2);
}
.main_1 {
  background-color: var(--color-bg1);
}

/* -------------- first pagee -------------- */
.index_h1 {
  width: fit-content;
  margin: auto;
  padding: 20px;
}

/* ------------------------------ tema 2 ----------------------------------- */
.h1_2 {
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}
.imgver1 {
  width: 80%;
  margin: auto;
}
.imgver1 img {
  border-top-right-radius: 25%;
}

.link,
.link_2 {
  width: 80%;
  /* border: 1px solid black; */
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  background-color: var(--color-bg3);
  padding: 4px;
  position: sticky;
  top: 0;
}
.link:hover {
  scale: 1.1;
}
.link_2:hover {
  scale: 1.1;
}

.link a {
  text-decoration: none;
  color: var(--color-bg1);
}
.link_2 a {
  text-decoration: none;
  color: var(--color-bg1);
}
.link_2 {
  width: fit-content;
  padding: 7px;
  padding-inline: 30px;
  border-radius: 30px;
  box-shadow: 2px 4px 3px var(--color-bg3);
  border: 1px solid var(--color-bg2);
  margin-bottom: 40px;
}

.ver1_3 {
  border: 1px solid var(--color-bg3);
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
  border-radius: 50px;

  gap: 10px;
  margin-bottom: 60px;
}
.ver1_3 img {
  border-radius: 30px;
}
.ver1_3 p {
  font-size: small;
  /* padding-top: 20px; */
}

.ver2 img {
  width: 80%;
  margin: auto;
}
.ver2_2 h2 {
  margin: auto;
  width: fit-content;
  margin-top: 15px;
  margin-bottom: 5px;
}

.p2 {
  padding-top: 10px;
}

.ver2_2 p {
  margin: auto;
  width: 80%;
}
.ver2_2 {
  height: auto;
  margin-bottom: 60px;
}
p {
  font-family: var(--font-1);
}

.ver2_2_2 {
  margin: auto;
  width: 80%;
  margin-bottom: 30px;
}

.ver2_2_2 h2 {
  margin: auto;
  width: fit-content;
  margin-top: 15px;
  margin-bottom: 5px;
}

.main_2 {
  background-color: var(--color-bg2);
  padding-block: 30px;
}
.footer_2 {
  background-color: var(--color-bg1);
}
/* ------------ burger menu -------------- */

@media screen and (max-width: 800px) {
  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin: auto;
  }

  .burger .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333333;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }

  .burger {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    /* font-size: 24px; */
  }

  /* ------------slide -------------- */
}
